* {
vertical-align: baseline;
font-size: 100%;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}

.big-wrapper {
	width: 100%;
}

.center-content {
	width: 65%;
	margin: 0 auto; 
}

.crossword-background {
	width: 100%;
	background-image: url(images/crossword-old.png);
	padding-top: 50px;
	padding-bottom: 80px;
}

.name {
	font-size: 50px;
	color: #ffffff;
	font-family: "Myriad Pro", sans-serif;
	text-align: center;
	padding-bottom: 10%;
}

.center {
	display: block;
	margin: 0 auto;
	padding-bottom: 50px;
	max-width: 230px;
}

.title-about {
	border-bottom: solid;
	border-bottom-width: 1px;
	width: 120px;
	margin: 0 auto;
}

/* ------about ------*/

.about h1, .about p, .about ul, .about li {
	color: #ED9121;
	font-family: "Myriad Pro", sans-serif;
	text-align: center;
}

.about h1 {
	font-size: 45px;
	margin-bottom: 20px;
}

.about p {
	font-size: 23px;
	line-height: 28px;
	font-weight: 300;
}


.about ul {
	padding-top: 40px;
}

.about li {
	display: inline;
}

/* ------issue ------*/


.issue {
	width: 100%;

	background: #f22630; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f22630 3%, #f2263b 53%, #f22b35 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(3%,#f22630), color-stop(53%,#f2263b), color-stop(100%,#f22b35)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f22630 3%,#f2263b 53%,#f22b35 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f22630 3%,#f2263b 53%,#f22b35 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f22630 3%,#f2263b 53%,#f22b35 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #f22630 3%,#f2263b 53%,#f22b35 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f22630', endColorstr='#f22b35',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
	padding-top: 50px;
	padding-bottom: 80px;
	}

.issue h1, .issue h2, .issue h3, .issue li {
	color: #2C3E50;
	font-family: "Myriad Pro", sans-serif;
	text-align: center;
}

.issue a {
	text-decoration: none;
	color: inherit;
} 

.issue li {
	list-style-type: none;

	padding-top: 18px;
	font-size: 23px;
	font-weight: 200;
}

.issue {
	text-decoration: none;
}

.issue h1 {
	font-size: 50px;
	font-weight: 400;
	margin-top: 20px;
}

.issue h2 {
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.issue h3 {
	font-size: 25px;
	font-weight: 200;
}


/* ------ articles ------*/

.middle {
	padding-top: 30px;
}

.articles a {
	text-decoration: none;
	color: inherit;
}

.articles a:hover {
	color: #009ACD;
}

.news {
	max-width: 560px;
	margin: 0 auto;
	border-left: 5px solid #009ACD;
	margin-bottom: 50px;
	padding-right: 20px;
}

.news h3, .news h2, .news p, .news a { 
	font-family: "Myriad Pro", sans-serif;
	padding-left: 20px;

}

.news h3 {
	color: #009ACD;
}

/* .news a {
	text-decoration: none;
	color: #00BFFF;
} */

.news h2 {
	margin-top: 10px;
	font-size: 23px;
	color: #009ACD;
}

.news p {
	font-weight: 200;
	color: #2a2a2a;
	margin-bottom: 7px;
}

.news p, .news a {
	margin-top: 12px;
	font-size: 18px;
	line-height: 25px;
	color: #2a2a2a;

}

.code {
	max-width: 560px;
	margin: 0 auto;
	border-left: 5px solid #FFA500;
	margin-bottom: 50px;
	padding-right: 20px;
}

.code h3, .code h2, .code p, .code a { 
	font-family: "Myriad Pro", sans-serif;
	padding-left: 20px;
}

.code h3 {
	color: #FFA500;
}

.code h2 {
	margin-top: 10px;
	font-size: 23px;
	color: #FFA500;
}

.code p, .code a {
	margin-top: 12px;
	font-size: 18px;
	line-height: 25px;
	color: #2a2a2a;
}

.code p {
	font-weight: 200;
	margin-bottom: 7px;
}

.tools {
	max-width: 560px;
	margin: 0 auto;
	border-left: 5px solid #F22B35 ;
	margin-bottom: 50px;
	padding-right: 20px;
}

.tools h3, .tools h2, .tools p, .tools a { 
	font-family: "Myriad Pro", sans-serif;
	padding-left: 20px;
}

.tools {
	color: #F22B35;
}

.tools h2 {
	margin-top: 10px;
	font-size: 23px;
	color: #F22B35 ;
}

.tools p, .tools a {
	margin-top: 12px;
	font-size: 18px;
	line-height: 25px;
	color: #2a2a2a;
}

.tools p {
	font-weight: 200;
	margin-bottom: 7px;
}


.design {
	max-width: 560px;
	margin: 0 auto;
	border-left: 5px solid #483D8B;
	margin-bottom: 50px;
	padding-right: 20px;
}

.design h3, .design h2, .design p, .design a { 
	font-family: "Myriad Pro", sans-serif;
	padding-left: 20px;
}

.design h3 {
	color: #483D8B;
}

.design h2 {
	margin-top: 10px;
	font-size: 23px;
	color: #483D8B;
}

.design p, .design a {
	margin-top: 12px;
	font-size: 18px;
	line-height: 25px;
	color: #2a2a2a;
}

.design p {
	font-weight: 200;
	margin-bottom: 7px;
}

/* ------footer ------*/


.footer {
	background-color: #f7aa21;
	padding-bottom: 50px;
	padding-top: 50px;
}

.footer h1, .footer h2, .footer h3, .footer p, .footer li {
	color: #ffffff;
	font-family: "Myriad Pro", sans-serif;
	text-align: center;
}

.footer p {
	padding-bottom: 40px;
	font-size: 23px;
	font-weight: 200;
}

.footer li {
	list-style-type: none;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	min-width: 200px;
	padding-top: 12%;
	padding-bottom: 40px;
}

a {
	text-decoration: none;
}


/* -----media queries----- */

@media (max-width: 40em) {
	.phone-hide {
		display: none;
	}
	.banner {
		background-color: #2C3E50;
	}
	.input {
		max-width: 260px;
	}
	input {
    border: 2px solid #d3d3d3;
    -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
    margin-top: 5px;
    padding: 11px;
    background: #ffffff;
    margin: 0 auto 10px auto;
 	width: 200px;
    color: #545454;
    font-size: 16px;
	font-family: "Myriad Pro", sans-serif;
}

}
@media (min-width:40em) {
	.banner {
		max-width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(images/Swift-Development.png);
		background-attachment:fixed;
	}
	input {
    border: 2px solid #d3d3d3;
    -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
    margin-top: 5px;
    padding: 11px;
    background: #ffffff;
    margin: 0 0 10px 0;
    margin-right: 25px;
   width: 260px;
    color: #545454;
    font-size: 20px;
	font-family: "Myriad Pro", sans-serif;
}
}

/* button */

.back {
	margin: 0 auto;
	width: 160px;
	border: 4px solid #009ACD;
	padding: 10px 30px 10px 30px;
	font-size: 25px;
	font-weight: 300;
	font-family: "Myriad Pro", sans-serif;
}

.button {
	margin: 0 auto;
	width: 160px;
}

.button h2 {
	padding: 10px 30px 10px 30px;
	font-size: 25px;
	font-weight: 300;
	color: #009ACD;
	font-family: "Myriad Pro", sans-serif;
}
/* -----input and buttons -----*/

.button { 
	background: #2C3E50;
	/*
   border-top: 1px solid #e8ab12;
   background: #ffa506; 
   */
   
   padding: 9px 25px;
   /*
   -webkit-box-shadow: #e88824 0 6px 0;
   -moz-box-shadow: #e88824 0 6px 0;
   box-shadow: #e88824 0 6px 0;
   */

   color: white;
   font-size: 20px;
   font-family: "Myriad Pro", sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:active {
   border-top-color: #e69915;
   background: #e88824;
   }

/* button */

.back {
	margin: 0 auto;
	width: 120px;
	border: 4px solid #009ACD;
	padding: 10px 30px 10px 30px;
	font-size: 25px;
	font-weight: 300;
	font-family: "Myriad Pro", sans-serif;
	color: #009ACD;
	text-align: center;
}

.button {
	margin: 0 auto;
	width: 160px;
}

.button h2 {
	padding: 10px 30px 10px 30px;
	font-size: 25px;
	font-weight: 300;
	color: #009ACD;
	font-family: "Myriad Pro", sans-serif;
}

